.equation {
  font-size: 1.3rem;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.form label {
  font-weight: 600;
}

.form > div {
  display: flex;
}
