.counterContainer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 1rem;
  text-align: center;
  width: 20rem;
  margin-inline: auto;
}

.counterContainer button {
  margin-top: 1rem;
  padding: 0.5rem;
}

.counterContainer p {
  font-size: 2rem;
}
